<% include partials/header %>
<h1><%= title %></h1>
    <form method="POST" action="/users/add">
        <label>name</label>
        <input type="text" name="name"/>

        <label>last</label>
        <input type="test" name="last"/>

        <input type="submit" value="submit"/>
    </form>

    <ul>
    <% body.forEach( person =>{ %>
        <li><%= person.last %> </li>
   <% }) %>
    </ul>
<%  include partials/footer %>